body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name {
    color: brown;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.hire-button {
    background-image: linear-gradient(purple, crimson);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}