body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name {
    color: purple;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.hire-button {
    background-image: linear-gradient(purple, crimson);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.exp {
    width: 40%;
    margin: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}

#professional {
    border-left: 7px solid;
    border-image: linear-gradient(purple, crimson);
    border-image-slice: 1;
}

#Junior {
    border-left: 7px solid;
    border-image: linear-gradient(crimson, purple);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}